<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7761">  <td>24/01/03 18:01:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.Put_Executor()[pri:0, instance:Test_Package.PUT_TestCase_1@536f2a7e]">Put_Executor</td> 
  <td>main@1848289347</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>24/01/03 18:01:31</td>   <td>4521</td> <td>&nbsp;</td><td title="&lt;&lt;PUT_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PUT_TestCase_1@536f2a7e]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848289347</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>24/01/03 18:01:26</td>   <td>-771</td> <td>&nbsp;</td><td title="&gt;&gt;PUT_TestCase_1.test_setup()[pri:0, instance:Test_Package.PUT_TestCase_1@536f2a7e]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1848289347</td>   <td></td> </tr>
</table>
